.documentation {
    margin: 0 auto;
    width: 860px;
    margin-left: 420px;

    h1 {
        font-size: 48px;
        font-family: 'Gotham-bold';
        text-transform: uppercase;
        color: $purple;
        padding-top: 40px;
    }

    h2 {
        font-size: 28px;
        font-family: 'Gotham-bold';
        text-transform: uppercase;
        color: $purple;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    p {
        width: 774px;
        font-family: "Gotham-light";
        font-size: 20px;
        line-height: 36px;
    }
}