.documentation {
    margin: 0 auto;
    width: 860px;
    margin-left: 420px;
    margin-bottom: 150px;

    h1 {
        font-size: 40px;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        color: $purple;
        padding-top: 40px;
    }

    h2 {
        font-size: 23px;
        font-weight: 100;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        color: $docs-purple;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    & > p {
        width: 774px;
        font-family: "Montserrat-Light";
        font-size: 16px;
        letter-spacing: -0.3px;
        line-height: 29px;
        color: $docs-gray;
    }

    p > a {
        color: $purple;
        font-family: "Montserrat-Regular";
        text-decoration: none;
        padding-bottom: 3px;

        &:hover {
            color: $turquoise;
        }

    }

}

.menu-navigation {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;

    li {
        width: 600px;
        color: transparent;
        margin-bottom: 25px;
        clear: both;

        a.title {
            text-transform: uppercase;
            font-size: 20px;
            color: #af79a5;
            font-family: "Montserrat-Regular";
            text-decoration: none;
            border-bottom: 2px dotted #af79a5;
        }

    }

    &.sub {
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &.sub li {
        margin-bottom: 25px;

        a.title {
            font-size: 14px;
        }

    }

}

.example {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 87.3%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;

    canvas {
        position: relative;
        width: 750px;
        height: 200px;
    }

    &.mid canvas {
        height: 300px;
    }

    &.expanded canvas {
        height: 550px;
    }

    &:after {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }

    &.pure {
        &:after{
            display: none;
        }
    }
}

.example.dark:after {
    color: #FFF;
}

.pac-man {
    position: absolute;
    top: 40px;
    left: 20%;
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid #330031;
    border-bottom: 60px solid #330031;
    border-left: 60px solid #330031;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

table {
    width: 750px;
    border-collapse: collapse;
}

table td, table th {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #E7E9ED;
    color: #FFF;
}

table td {
    font-family: "Montserrat-Light";
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 29px;
    color: $docs-gray;
}

table tr:last-child th {
    border-bottom: 0;
}

table th {
    background-color: #330031;
}
