.fourth-section {
  min-height: 35rem;
  background-image: url('../images/origami-bg-contribute.jpg');
  margin-bottom: -20px;
  a {
    text-decoration: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .centered {
      margin-top: 6rem;
    }
  }
}

.we-need-you__title{
  border: 6px solid $white;
  font-size: 5rem;
  padding: 7rem 3rem;
}

@media screen and (max-width: 840px) {
    .fourth-section {
        min-height: 15rem;
        .container {
            .centered {
                margin-top: 3rem;
            }
        }
    }

    .we-need-you__title{
        border: 3px solid $white;
        font-size: 1.5rem;
        padding: 1rem 1.3rem;
    }
}
