.sidebar {
    background-color: $purple;
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;

    .sidebar-nav {
        margin: 0 32px;
        margin-top: 3rem;

        & > p {
            height: 16px;
        }

        .sidebar-nav--item {
            margin-bottom: 32px;
        }
    }

    .sidebar-link {
        font-family: 'Montserrat-Bold';
        color: #FFF;
        text-decoration: none;
        font-weight: 700;
        font-size: 11px;
        letter-spacing: 0.2px;
        text-transform: uppercase;

        &.subtopic {
            font-family: 'Montserrat-Light';
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.3px;
            font-style: normal;
        }
    }
}

.origami_icon {
    text-align: center;
    margin-top: 32px;

    .origami_icon-rotate {
        width: 90px;
    }
}
