<div class="container logo-container">
    <div class="block-image">
        <a href="/">
            <img src="/assets/images/logo-origami.svg" alt="Origamijs Logo">
        </a>
    </div>
</div>

<div class="about first-section container">
  <div class="question-highlight">
    <h1 class="heading-lv2">What is <br>Origami.js?</h1>
    <p class="paragraph">Initially it's a tool for teaching geometry, web and javascript in schools. Currently it's a powerful library to create using HTML5 Canvas.</p>
  </div>

  <div class="download">
    <div class="download-icon">
      <img src="/assets/images/logo-origami-outline.svg" alt="Download" class="download-icon--rotate">
    </div>

    <br>
    <a href="{{ site.downloadLink }}" class="link">
      Download {{ site.downloadVersion }}
    </a>
  </div>
</div>
