<section class="about">
 <div class="content">
   <div class="content--text">
     <div class="slash"></div>
     <h1>What is <br>Origami.js?</h1>
     <p>Initially it's a tool for teaching geometry, web and javascript in schools. Currently it's a powerful library to create using HTML5 Canvas.</p>
     <div class="rect"></div>
   </div>
   <div class="content--download">
     <a href="{{ site.donwloadLink }}">
       <div class="content--download-btn">
         <img src="/assets/images/logo-origami-outline.svg" alt="Download">
       </div>
     </a>
     <a href="{{ site.downloadLink }}">
       <p class="content--download-text">Download {{ site.downloadVersion }}</p>
     </a>
   </div>
   <div class="content--pin">
     <a href="/">
       <img class="pin-image" src="/assets/images/logo-origami.svg" alt=" Origamijs">
     </a>
   </div>
 </div>
</section>
