<section class="features second-section">
  <div class="feature-blocks">
    <div class="chainable-canvas">
      <h1 class="number">01</h1>
      <h1 class="heading-lv2">Chainable Canvas</h1>
    </div>
    <div class="css-notation">
      <h1 class="number">02</h1>
      <h1 class="heading-lv2">CSS Notation</h1>
    </div>
    <div class="selectors">
      <h1 class="number">03</h1>
      <h1 class="heading-lv2">Modular Canvas</h1>
    </div>
  </div>
  <div class="container">
    <div class="content center">
        <div class="content--text">
            <div class="question-highlight center">
                <h1 class="heading-lv2">Why to use it?</h1>
                <p class="paragraph">Learning the canvas API can be challenging. But the learning curve might be reduced with a few simplifications: a chainable canvas, stylization of objects using familiar CSS notation, brings acessibility and resposible canvas, and easy
                    access to the context using selectors.</p>
                <div class="rect"></div>
            </div>
        </div>
    </div>
  </div>
</section>
