<section class="features second-section">
    <div class="feature-blocks">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>
    <div class="content">
        <div class="content--text">
            <div class="question-highlight center">
                <h1 class="heading-lv2">Why to use it?</h1>
                <p class="paragraph">Learning the canvas API can be challenging. But the learning curve might be reduced with a few simplifications: a chainable canvas, stylization of objects using familiar CSS notation, brings acessibility and resposible canvas, and easy
                    access to the context using selectors.</p>
                <div class="rect"></div>
            </div>
        </div>
    </div>
</section>
