<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if page.title %}{{ page.title | capitalize }} - {{ site.title }}
        {% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 240 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title | capitalize }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:type" content="site"/>
    <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
    <meta property="og:image" content="{{site.url}}{% if page.image %}/{{page.image}}{%else%}/assets/images/logo-origami-share.png{% endif %}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 240 }}{% else %}{{ site.description }}{% endif %}"/>
    <meta property="fb:admins" content="100001780434348" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | capitalize }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 240 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
    <meta name="twitter:image" content="{{site.url}}{% if page.image %}/{{page.image}}{%else%}/assets/images/logo-origami-share.png{% endif %}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.png" type="image/x-icon">

    <!-- Android Lollipop theme color -->
    <meta name="theme-color" content="#330031">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/stylesheet/main.css" type="text/css">
</head>
<body{% if page.title %} class="{{ page.title | downcase | replace: ' ', '-' }}{% endif %} {% if page.class %}{{ page.class }}{% endif %}">