<section class="join-us third-section">
    <div class="container">
        <div class="content center">
            <h1 class="heading-lv1">Join Us</h1>
            <div class="contribute">
                <div class="transform">
                    <div class="transform_lvl1">
                        <div class="transform_lvl2">
                            <img src="//avatars3.githubusercontent.com/u/7539670?v=3&s=460" alt="Natália Medina" />
                            <a target="_blank" href="//github.com/ntmedina">@ntmedina</a>
                        </div>
                    </div>
                </div>

                <div class="transform">
                    <div class="transform_lvl1">
                        <div class="transform_lvl2">
                            <img src="//avatars2.githubusercontent.com/u/3630346?v=3&s=460" alt="Raphael Amorim" />
                            <a target="_blank" href="//github.com/raphamorim">@raphamorim</a>
                        </div>
                    </div>
                </div>

                <div class="transform">
                    <div class="transform_lvl1">
                        <div class="transform_lvl2">
                            <img src="//avatars2.githubusercontent.com/u/6811076?v=3&s=400" alt="Frederico" />
                            <a target="_blank" href="//github.com/fredrb">@fredrb</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ site.contributeLink }}" class="">Contribute</a>
    </div>
</section>
