<nav class="container nav">
	<ul class="navigation" id="navigation">
		<li class="nav-item">
			<a href="{{ site.baseurl }}" class="nav-links">
				Origami JS
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ site.repoUrl }}" class="nav-links" target="_blank">
				GitHub
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ site.baseurl }}docs" class="nav-links">
				Documentation
			</a>
		</li>
		<li class="nav-item">
			<a href="https://thimble.mozilla.org/en-US/projects/104220/remix" class="nav-links">
				Try
			</a>
		</li>
		<!-- <li class="nav-item">
			<a href="{{ site.baseurl }}showcase" class="nav-links">
				Showcase
			</a>
		</li> -->
	</ul>
</nav>
