.second-section {
  height: 100vh;
  background-color: $dark-purple;
  overflow: hidden;
  padding-top: 6vh;
  .question-highlight {
    padding-top: 3vh;
  }
    .heading-lv2 {
      z-index: 2;
      font-size: 6vh;
      line-height: 8vh;
    }
    .paragraph {
      font-size: 2vh;
      line-height: 3.5vh;
    }
  .question-highlight::before {
    background: $turquoise;
  }
  .question-highlight::after {
    border: 0.5vh solid $purple;
    margin-left: -6vh;
  }
}

.feature-blocks {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .number {
    z-index: -1;
    height: 0;
    margin: 0;
    text-align: left;
    font-size: 14vh;
  }
  .chainable-canvas, .css-notation, .selectors {
    width: 26vh;
    display: inline-block;
    margin: 7vh 10vh 5vh 10vh;
    .heading-lv2{
      z-index: 2;
      font-size: 6vh;
      line-height: 8vh;
    }
  }
}

.center {
  margin: 0 auto;
}
