/* Fonts
------------------------------------------ */
@font-face {
	font-family: "Gotham-bold";
	src: url(../fonts/Gotham-bold.OTF);
}

@font-face {
	font-family: "Gotham-light";
	src: url(../fonts/Gotham-light.OTF);
}
