/* Fonts
------------------------------------------ */
@font-face {
	font-family: "Gotham-bold";
	src: url(fonts/Gotham-bold.otf);
}

@font-face {
	font-family: "Gotham-light";
	src: url(fonts/Gotham-light.otf);
}
