.third-section {
	background:$white;
  height: 50vh;
  .heading-lv1 {
    color: $light-purple;
    text-align: center;
  }
}

.contribute{
  .transform {
    display: inline-block;
    transform: rotate(120deg);
    text-align: center;
    margin: 10px;
    width: 135px;
    height: 115px;
    img{
      width:100%;
      margin-top: -5px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    div{
      width: 100%;
      height: 100%;
    }
  }

}

.contribute{
  .transform, div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
  }

  .transform_lvl1 {
    transform: rotate(-60deg);
  }

  .transform_lvl2 {
    transform: rotate(-60deg);
  }
}

.twiter_name{

}
