.third-section {
	background:$white;
  height: 50vh;
  .heading-lv1 {
    color: $light-purple;
    text-align: center;
  }
}

.contribute{
  .hexa {
    display: inline-block;
    img{
      width:100%;
      margin-top: -5px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  .hexa, div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
  }

  .hexa {
      transform: rotate(120deg);
      text-align: center;
      margin: 10px;
      width: 135px;
      height: 115px;
      div{
        width: 100%;
        height: 100%;
      }
  }
  .hex1 {
    transform: rotate(-60deg);
  }

  .hex2 {
    transform: rotate(-60deg);
  }

}
