.third-section {
	background:$white;
  height: 70vh;
  .heading-lv1 {
    color: $light-purple;
    text-align: center;
  }
}

.contribute{
  .transform {
    display: inline-block;
    transform: rotate(120deg);
    text-align: center;
    margin: 10px;
    width: 135px;
    height: 115px;
    img{
      width:100%;
      margin-top: -5px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    div{
      width: 100%;
      height: 100%;
    }
  }
}

.contribute{
	height: 60vh;
  .transform, div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
  }

  .transform_lvl1 {
    transform: rotate(-60deg);
  }

  .transform_lvl2 {
    transform: rotate(-60deg);
  }
}

.contribute__twitter{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 30px;

	a{
		text-decoration: none;
		max-width: 50%;
		margin: 20px;
    color: $light-purple;
	}
}

.contribute__link{
	display: flex;
  justify-content: center;
	top: 60px;
	position: relative;
}

.btn{
	font-family: 'Gotham-light';
	padding: 15px 30px;
	transition: all 300ms ease;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;

	&:hover {
		padding: 20px 35px;
	}

	&-contribute{
		background: $purple;
		color:$white;
	}
}
