.fourth-section {
  min-height: 75vh;
  background-image: url('../images/origami-bg-contribute.jpg');
  margin-bottom: -20px;
  a {
    text-decoration: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .centered {
      margin-top: 12vh;
    }
  }
}

.we-need-you__title{
  border: 6px solid $white;
  font-size: 10vh;
  padding: 14vh 6vh;
}
