/* 1. Colors
----------------------------------- */
$purple: #330031;
$light-purple: #550248;
$dark-purple: #180019;
$turquoise: #58ece8;
$lilac: #f9f4f9;
$white: #FFFFFF;
$black-russian: #1A001C;
$jacaranda: #280123;

$docs-purple: #660257;
$docs-gray: #6b6b6b;