/* Fonts
------------------------------------------ */
@font-face {
	font-family: "Montserrat-Bold";
	src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.woff2);
}