/* Global
------------------------------------------ */
* {
-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
				box-sizing: border-box;
}

body {
	background-color: $white;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

body.home {
	background-color: $purple;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 57em;
	display: flex;
	flex-wrap: wrap;
}
