/* Texts
------------------------------------------ */
.heading-lv1 {
	font-family: 'Gotham-light';
	font-size: 70px;
	color: $white;
}

.heading-lv2 {
    font-family: 'Gotham-bold';
	font-size: 48px;
	line-height: 65px;
	letter-spacing: 1px;
	color: $white;
	text-transform: uppercase;
}

.paragraph {
	font-family: 'Gotham-light';
	font-size: 17px;
	line-height: 35px;
	letter-spacing: -0.2px;
	color: $white;
}
