/* Texts
------------------------------------------ */
.heading-lv1 {
	font-family: 'Montserrat-Regular';
	font-size: 6rem;
	color: $white;
}

.heading-lv2 {
    font-family: 'Montserrat-Bold';
	font-size: 4rem;
	line-height: 4rem;
	letter-spacing: 0.2rem;
	color: $white;
	text-transform: uppercase;
}

.paragraph {
	font-family: 'Montserrat-Light';
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: -0.01rem;
	color: $white;
}
