/* Texts
------------------------------------------ */
.heading-lv1 {
	font-family: 'Montserrat-Light';
	font-size: 70px;
	color: $white;
}

.heading-lv2 {
    font-family: 'Montserrat-Bold';
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 1.5px;
	color: $white;
	text-transform: uppercase;
}

.paragraph {
	font-family: 'Montserrat-Light';
	font-size: 18px;
	line-height: 33px;
	letter-spacing: -0.1px;
	color: $white;
}
