<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <!-- <meta name="twitter:url" content="http://origamijs.com">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/raphamorim/origami.js/master/images/logos/logo-origami.png"/> -->

  <!-- head requests -->
  {% include head-requests.html %}
</head>

<body>
  <!-- nav -->
  {% include nav.html %}

  <!-- first section -->
  {% include about.html %}

  <!-- about section -->
  {% include feature.html %}

  <!-- content -->
  {{ content }}

  <!-- scripts  -->
  {% include scripts-requests.html %}

  <!-- footer  -->
  {% include footer.html %}

</body>
</html>
