<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <!-- Prism -->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/stylesheet/origami.prism.css" type="text/css">

    {% include nav.html %}
    {% include sidebar.html %}
    <section class="documentation">
        {{ content }}
    </section>

    <!-- <script type="text/javascript" src="//rawgit.com/raphamorim/origami.js/master/dist/origami.min.js"></script> -->
    <script src="{{ site.baseurl }}assets/scripts/origami.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}assets/scripts/origami.examples.js"></script>
{% include footer.html %}
