{% include header.html %}
{% include nav.html %}
  <section class="about">
    <div class="content">
      <div class="content--text">
        <div class="square"></div>
        <div class="slash"></div>
        <h1>What is <br>Origami.js?</h1>
        <p>Initially it's a tool for teaching geometry, web and javascript in schools. Currently it's a powerful library to create using HTML5 Canvas.</p>
      </div>
    </div>
  </section>
  <section class="features">
    
  </section>
  <section class="join-us">
    
  </section>
    <!-- <img src="/assets/images/example.jpg" alt=""> -->
    
{% include footer.html %}
